
   <h1 class="display-2 text-black text-center font-weight-bold">
    Bookshelf 
   </h1>
   <h2 class="text-center" >
      <%= link_to "新規登録 ( sign in )", new_user_registration_path, class: "nav-link" %>
   </h2>
   <h2 class="text-center" >
       <%= link_to "ログイン ( log  in )", new_user_session_path, class: "nav-link" %>
   </h2>

    




