<div class="bg-white cir">
   <h1 class="display-2 text-black text-center font-weight-bold mt-5">
   <%= image_tag "/assets/main.png", size: "150x150", class: "img-main" %> 
   Bookshelf 
   </h1>
   <h2 class="text-center" >
      <%= link_to "新規登録 ( sign in )", new_user_registration_path, class: "nav-link" %>
   </h2>
   <h2 class="text-center" >
       <%= link_to "ログイン ( log  in )", new_user_session_path, class: "nav-link" %>
   </h2>
</div>
    




