<!--<div class="card bg-light d-inline-block text-wrap h-100 mx-1 book-card"-->
<!--  data-model_name="<%= Book.model_name.singular %>"-->
<!--  data-id="<%= book.id %>">-->
<!--  <div class="d-flex flex-column h-100" style="width: 25rem; min-width: 25rem;">-->
<!--    <div class="font-weight-bold px-4 py-2 book-header">-->
<!--      <div class="pr-5">-->
<!--        <%= book.title %> -->
<!--      </div>-->
<!--  </div>-->
<!--</div>-->
