<div id="loading">
  <div id="loading_box">
    <div class="loading-one animation_loading">
      <p class="loading-txt">Loading</p>
    </div>
  </div>
</div> 

<script>
$("#modalArea").html(
  "<%= j(render 'books/index_books', book: @books) %>"
);
</script>