// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.books-title-area {
  height: 80px;
}

.books-index-area {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  height: calc(100% - 80px);
  max-height: calc(100% - 80px);
}

.form_centerposition{
  display: flex;
  flex-direction: column;
}


#grid {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  }

#count{
  color: rgb(76, 175, 80);
  padding-top: 2px;
}

.theright{
  text-align: right!important;
}

#hidden{
  display: none;
}

#append{
  display: block;
}
