// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: image-url("bookshelf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}


#wrapper {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 17px;
    overflow: auto;

}

.underline{
// /*下線を引く*
text-decoration:underline;

text-decoration-color:#e5e806;
}


.word-break{
    word-break: break-all;
}



$pc: 1024px; // PC
$tab: 992px; // タブレット
$sp: 575px;  // スマホ

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (min-width: ($sp)) {
    @content;
  }
}




.pro_freeword_title {
    text-align: center;
}


 .pro_merit_ul {
    margin-top: 32px!important;
    margin-bottom: 32px!important;
    margin-right: 60px!important;
    // margin-left: 60px!important;
}



.pro_merit_ul{
  @include pc {
     list-style-type: none;
    display: flex;
    justify-content: center;
  };
  @include tab {
    list-style-type: none;
    display: flex;
    justify-content: center;
  };
  @include sp {
    list-style-type: none;
    display: flex;  
    align-content: center;
  };
};

.row {
    display: flex;
    justify-content: center;
}

.pro_merit_li {
    list-style-type: none;
    text-align: center;
    background-color: white;
    border-radius: 3% 3%;
}

.pro_merit_subtitle {
    color: #39b671;
    margin: 10px 0px;
}

.v-image {
    color: rgba(0,0,0,.87);
}

.v-responsive {
    position: relative;
    overflow: hidden;
    flex: 1 0 auto;
    max-width: 100%;
    display: flex;
}

.pro_merit_image {
    width: 220px;
    height: 180px;
    margin: 0 auto;
}

.v-image__image {
    background-image: image-url("books.jpg");
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}

.v-image2__image {
    background-image: image-url("searchbook.jpg");
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}


.pro_merit_text {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}