main {
  padding-top: 60px;
  padding-bottom: 60px;
}

footer {
  height: 50px;
}

.bg-home {
  background-color: #1e90ff;
}

.mflame {
  width: 70.6em;
  min-width: 990px;
  margin-right: auto;
  margin-left: auto;
  padding: 3rem !important;
}